<!DOCTYPE html>
<html>
	<head>

		<!--script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script-->
	</head>
	<body>
		<h1>Forget Password!</h1>
		    <!-- forgetpassword model -->
    <div id='forget-password-model'>
      <form id="forgetpassword-form" action="/forgetpassword", method="post">
      <label>Enter your username or Email</label>
      <input type="text" id="identity" placeholder="username or email">

      <br>

      <label>Enter your <b>OLD</b> password</label>
      <input type="text" id="old-password" placeholder="********">      

      <br>

      <label>Enter your <b>NEW</b>password</label>
      <input type="text" id="new-password" placeholder="********">

      <br>

      <label>Confirm you new password</label>
      <input type="text" id="confirm-new-password" placeholder="username or email">

      <br>

      <button type="submit">submit</button>

      <div>
        <div
              id="forgetpasswordSuccess"
            >S</div>
            <div
              id="forgetpasswordError"
            >E</div>
      </div>

    </form>
    </div>


    <script type='text/javascript' src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
		<!--
		The script will be removed to /app/static/js once completed.
		-->
		<script type="text/javascript">
		$(document).ready(function() {
			
			$('#forgetpassword-form').on('submit', function(event){
				form = {
				identity: $('#identity').val(),
				old_password: $('#old-password').val(),
				new_password: $('#new-password').val(),
				confirm_new_password: $('#confirm-new-password').val(),
					};
				console.log(form)
        $.ajax({
          type: 'POST',
          url: '/forgetpassword',
          dataType: 'json',
          contentType: 'application/json',
          data: JSON.stringify(form),
        })
        .done(function(data){
        	if (data.error) {
        		$('#forgetpasswordError').text(data.error).show();
            $('#forgetpasswordSuccess').hide();
        	} else {
            $('#forgetpasswordError').text(data.success).show();
          	$('#forgetpasswordSuccess').hide();
          }
        });
				event.preventDefault();
			})
		
		})

		</script>
	</body>
</html>