<!DOCTYPE html>

<html>
    <head>
        
    </head>
    
    <body>
        <h1>Welcome to the Login page, {% if name %} {{ name }} {% else %} Stranger {% endif %}</h1>
         <form action="" method="POST">
            {{ form.hidden_tag() }}
            
            {{ form.name.label }}
            {{ form.name() }}
            {{ form.email.label }}
            {{ form.email() }}
            {{ form.passwd.label }}
            {{ form.passwd() }}

            {{ form.submit() }}

        </form>
       
    </body>
    
</html>
