html {
    height: 100%;
}

body {
    height: 100%;
    background-image: linear-gradient(#514ad8, #9b4ce1);
    font-family: 'Radio Canada', sans-serif;
    color: white;
}

h5 {
    font-size: small;
}

.navbar-brand {
    padding-left: 1em; /* left padding around title of website*/
    padding-right: 0.5em;
}

#navmenu {
    padding-left: 1em; /* padding for text in the navmenu dropdown */
}

.nav-link:hover {
    font-size: large;
}

.navbar {
    border-bottom:1px solid #000;
}

#login-btn {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

#sign-up-btn {
    margin-left: 0.5em;
}

#login-button {
    background-color: rgb(111, 65, 226);
    border-style: none;
    border-radius: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.customModalLabel {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(111, 65, 226);
    font-size: x-large;
}

/* reduced padding of the navbar so it doesn't take up so much space */
.navbar {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
 }

.standard-font {
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

.purple-link:link {
    text-decoration: none;
    color: rgb(111, 65, 226);

}

.purple-link:visited {
    text-decoration: none;
    color: rgb(111, 65, 226);

}

/* underline link when hovered */
.purple-link:hover {
    text-decoration: underline;
    color: rgb(111, 65, 226);

}

.modal-form-text {
    color: grey;
}

p.login-remember-forgot-span {
    display: flex;
    justify-content: space-between;
}

.forgot-password:link {
    text-decoration: none;
    color: #000;
}

.forgot-password:visited {
    text-decoration: none;
    color: #000;
}

.forgot-password:hover {
    text-decoration: underline;
    color: #000;
}

input {
    margin-bottom: 1em;
}

/* align checkbox to the text*/
.form-check-input {
    padding-top: 0;
    margin-top: 0;
}

/* When size of screen is less than 768px (medium in Bootstrap 5) then 
the icons will centre in the hamburger menu and adjust margins to look in-line*/

@media (max-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }

    #login-btn {
        margin-left: 0em;
        margin-right: 0em;
        margin-bottom: 0.5em;
    }
    
    #sign-up-btn {
        margin-left: 0em;
    }

}