html {
    height: 100%;
}

body {
    background: rgb(111, 65, 226);
    font-family: 'Radio Canada', sans-serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 5em;
    padding-top: 5em;
}

.wrap {
    width: 770px;
    padding: 1.5em;
    background: white;
    color: #000;
    border-radius: 0.25em;
}

.wrap .content-box {
    padding: 1em;
    border: 0.05em solid grey;
    border-radius: 0.25em;
}

.content-box .typing-text {
    max-height: 255px;
    overflow-y: auto;
}

.typing-text::-webkit-scrollbar {
    width: 0;
}

.typing-text p {
    font-size: 18px;
    text-align: justify;
}

.typing-text p span {
    position: relative;
}

.typing-text p span.correct {
    color: yellowgreen
}

.typing-text p span.incorrect {
    color: red;
    background: pink;
    outline: 1px solid pink;
    border-radius: 2px;
}

.typing-text p span.active {
    color: rgb(111, 65, 226);
}

.typing-text p span.active::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    opacity: 0;
    background: rgb(111, 65, 226);
    animation: blink 1s ease-in-out infinite;
}
@keyframes blink {
    50%{
        opacity: 1;
    }
}

.content-box .content {
    display: flex;
    margin-top: 1em;
    padding: 5px 0;
    align-items: center;
    border-top: 1px solid grey;
    justify-content: space-between;

}

.content button {
    border: none;
    outline: none;
    width: 105px;
    padding: 8px 0;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 0.25em;
    background: rgb(111, 65, 226);
    transition: transform 0.3s ease;
}

.content button:active {
    transform: scale(0.97);
}

.content .result-details {
    display: flex;
    width: calc(100% - 15em);
    justify-content: space-between;
    
}

.result-details li {
    height: 22px;
    list-style: none;
    display: flex;
    padding-top: 1em;
    justify-content: center;
}

.result-details li span {
    display: block;
    margin-left: 10px;
}

h5 {
    font-size: small;
}

.navbar-brand {
    padding-left: 1em; /* left padding around title of website*/
    padding-right: 0.5em;
}

#navmenu {
    padding-left: 1em; /* padding for text in the navmenu dropdown */
}

.nav-link:hover {
    font-size: large;
}

.navbar {
    border-bottom:1px solid #000;
}

#login-btn {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

#sign-up-btn {
    margin-left: 0.5em;
}

#login-button {
    background-color: rgb(111, 65, 226);
    border-style: none;
    border-radius: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.customModalLabel {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(111, 65, 226);
    font-size: x-large;
}

/* reduced padding of the navbar so it doesn't take up so much space */
.navbar {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
 }

.standard-font {
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

.purple-link:link {
    text-decoration: none;
    color: rgb(111, 65, 226);

}

.purple-link:visited {
    text-decoration: none;
    color: rgb(111, 65, 226);

}

/* underline link when hovered */
.purple-link:hover {
    text-decoration: underline;
    color: rgb(111, 65, 226);

}

.modal-form-text {
    color: grey;
}

p.login-remember-forgot-span {
    display: flex;
    justify-content: space-between;
}

.forgot-password:link {
    text-decoration: none;
    color: #000;
}

.forgot-password:visited {
    text-decoration: none;
    color: #000;
}

.forgot-password:hover {
    text-decoration: underline;
    color: #000;
}

input {
    margin-bottom: 1em;
}

/* align checkbox to the text*/
.form-check-input {
    padding-top: 0;
    margin-top: 0;
}

/* When size of screen is less than 768px (medium in Bootstrap 5) then 
the icons will centre in the hamburger menu and adjust margins to look in-line*/

@media (max-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }

    #login-btn {
        margin-left: 0em;
        margin-right: 0em;
        margin-bottom: 0.5em;
    }
    
    #sign-up-btn {
        margin-left: 0em;
    }

}